<app-header></app-header>

<section class="hero">
  <div class="hero-content">
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <div class="fill">
            <img
              src="https://68.media.tumblr.com/57836ee52bc9355ad7c5fed5abf91ccc/tumblr_oiboo6MaRS1slhhf0o1_1280.jpg"
            />
          </div>
          <div class="carousel-caption">
            <h2 class="animated fadeInLeft">Caption Animation</h2>
            <p class="animated fadeInUp">
              Lorem ipsum dolor sit amet consectetur adipisicing elit
            </p>
            <p class="animated fadeInUp">
              <a href="#" class="btn btn-transparent btn-rounded btn-large"
                >Learn More</a
              >
            </p>
          </div>
        </div>
        <div class="item">
          <div class="fill">
            <img
              src="https://68.media.tumblr.com/c40636a5a0d4aa39c335c8db40d2144f/tumblr_omc7z7Xv8N1slhhf0o1_1280.jpg"
              alt=""
            />
          </div>
          <div class="carousel-caption">
            <h2 class="animated fadeInDown">Caption Animation</h2>
            <p class="animated fadeInUp">
              Lorem ipsum dolor sit amet consectetur adipisicing elit
            </p>
            <p class="animated fadeInUp">
              <a href="#" class="btn btn-transparent btn-rounded btn-large"
                >Learn More</a
              >
            </p>
          </div>
        </div>
        <div class="item">
          <div class="fill">
            <img
              src="https://68.media.tumblr.com/3beb13a4167aa8b5c4743eac17bf351c/tumblr_o8nyvtiHfC1slhhf0o1_1280.jpg"
              alt=""
            />
          </div>
          <div class="carousel-caption">
            <h2 class="animated fadeInRight">Caption Animation</h2>
            <p class="animated fadeInRight">
              Lorem ipsum dolor sit amet consectetur adipisicing elit
            </p>
            <p class="animated fadeInRight">
              <a href="#" class="btn btn-transparent btn-rounded btn-large"
                >Learn More</a
              >
            </p>
          </div>
        </div>
      </div>

      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
      </a>
    </div>
  </div>
</section>

<section class="new-arrivals">
  <div class="section-title">
    <h1>New Arrivals</h1>
  </div>
  <nav class="categories">
    <a href="#">Women</a>
    <a href="#">Men</a>
    <a href="#">Shoes</a>
    <a href="#">Bags</a>
    <a href="#">Accessories</a>
  </nav>
  <div class="container-lg">
    <app-product-list></app-product-list>
  </div>
</section>

<app-footer></app-footer>
